@use '@/styles/settings.scss' as *;


.header-home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    z-index: 1000;

    .header-content {
        width: 100%;
        max-width: 809px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menu-desktop {
            display: none;
            list-style: none;
        }

        .menu-button-mobile {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            background-color: transparent;
            font-size: 16px;
            cursor: pointer;

            svg {
                fill: $white;
            }
        }

        :global(.szh-menu-container) {
            :global(.szh-menu) {
                padding: 0px !important;
                display: flex;
                flex-direction: column;    
                align-items: center;
                background-color: $bg-light;
                min-width: auto;

                .menu-item {
                    padding: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .item-link {
                        padding: 12px 24px;
                        width: 100%;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0px;
                        color: $gray;
                        transition: .5s ease-in-out;

                        &.active {
                            color: $primary-color;
                        }
                    }

                    &:hover {
                        background-color: transparent;

                        .item-link {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .logo-link {
            display: flex;

            img {
                max-width: 200px;
                height: auto;
            }
        }
    }
}

@include tablet() {
    .header-home {
        .header-content {
            .menu-desktop {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 50px;

                .item-header {
                    @include pRegular($gray);
                    color: $white50;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: $primary-color;
                    }

                    &.active {
                        color: $primary-color;
                    }
                }
            }

            .menu-button-mobile {
                display: none;
            }
        }
    }
}

@include notebook() {
    .header-home {
        padding: 24px 100px;
        .header-content {
            max-width: 1125px;
        }
    }
}