@use '@/styles/settings.scss' as *;

.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 24px;

    .container {
        max-width: 809px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        z-index: 1;
        background-color: $bg-light-dark;
        padding: 24px;
        border-radius: 16px;
        z-index: 1;

        h2 {
            @include H3Bold($white);
            text-align: center;

            span {
                color: $primary-color;
            }
        }

        p {
            @include pRegular($white);
            text-align: center;
            max-width: 738px;

            span {
                color: $primary-color;
            }
        }
    }
}

@include notebook() {
    .section2 {
        padding: 70px 100px;

        .container {
            padding: 32px;
            max-width: 1133px;

            h2 {
                @include H1Bold($white);
            }

            p {
                @include pRegular($white);
            }
        }
    }
}