@use '@/styles/settings.scss' as *;

.section3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 24px;

    .container {
        max-width: 809px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 24px;

        .box {
            padding: 30px;
            background-color: $white2;
            border: 1px solid $white5;
            border-radius: 16px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 26px;

            &.box1 {
                justify-content: center;

                h3 {
                    @include H2Bold($white);
                }
            }

            .circle-icon {
                width: 64px;
                height: 64px;
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h4 {
                    @include H3Regular($white);
                }

                p {
                    @include pRegular($gray);
                }
            }
        }
    }
}

@include tablet() {
    .section3 {
        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@include notebook() {
    .section3 {
        padding: 70px 100px;

        .container {
            max-width: 1140px;
        }
    }
}

@media (min-width: 1280px) {
    .section3 {
        .container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
