@use '@/styles/settings.scss' as *;

.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 16px;

    .container {
        width: 100%;
        max-width: 809px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        z-index: 1;
        background-color: $bg-light-dark;
        padding: 24px;
        border-radius: 16px;

        p {
            max-width: 738px;
            @include SmallRegular($white);
            text-align: center;

            span {
                color: $primary-color;
            }
        }

        h2 {
            @include H4Bold($white);
            text-align: center;

            span {
                color: $primary-color;
            }
        }
    }
}

@include tablet() {
    .section2 {
        padding: 70px 24px;

        .container {
            gap: 16px;
            padding: 32px;

            p {
                @include pRegular($white);
            }

            h2 {
                @include H3Bold($white);
            }
        }
    }
}

@include notebook() {
    .section2 {
        padding: 70px 100px;

        .container {
            max-width: 1140px;

            h2 {
                @include H1Bold($white);
            }
        }
    }
}
