@use '@/styles/settings.scss' as *;


.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 24px;
    z-index: 1;

    .bg {
        width: 2390px;
        height: 1564px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .container {
        max-width: 809px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        z-index: 1;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            h1 {
                text-align: center;
                @include H3Bold($white);
            }

            p {
                text-align: center;
                @include InputRegular($white);
            }
        }

        .button {
            padding: 12px 64px;
            width: 100%;
            max-width: 312px;
            background-color: $primary-color;
            border-radius: 8px;
            text-align: center;
            @include pSemiBold($bg-dark);
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0px 0px 100px 0px $primary-color50;
            }            
        }
    }
}

@include notebook() {
    .section1 {
        padding: 120px 100px;

        .container {
            max-width: 1133px;
            gap: 48px;

            .title {
                gap: 32px;

                h1 {
                    @include BigH1Bold($white);
                }

                p {
                    @include pRegular($white);
                }
            }
        }
    }
}