@use '@/styles/settings.scss' as *;

.section4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 24px;

    .container {
        width: 100%;
        max-width: 809px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 470px;

            h2 {
                @include H2Bold($white);
                text-align: center;

                span {
                    @include H2Regular($white);
                }
            }
        }

        .boxes {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 24px;

            .box {
                padding: 30px;
                background-color: $white2;
                border: 1px solid $white5;
                border-radius: 16px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                .circle-icon {
                    min-width: 64px;
                    min-height: 64px;
                    background-color: $primary-color;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    span {
                        @include H3Regular($white);
                    }

                    p {
                        @include pRegular($gray);
                    }
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .section4 {
        .container {
            .boxes {
                .box {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
}

@include notebook() {
    .section4 {
        padding: 70px 100px;
    }
}

@media (min-width: 1346px) {
    .section4 {
        .container {
            max-width: 1140px;

            .boxes {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }
}