@use '@/styles/settings.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $bg-dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}